<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain Prototype</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
</head>

<body>
    <div class="container">
        <h1 class="mt-5">Blockchain Prototype</h1>
        <div class="mt-3">
            <a href="/page/chain_operations" class="btn btn-primary">Chain Operations</a>
            <a href="/page/register" class="btn btn-secondary">Register</a>
            <a href="/page/vote" class="btn btn-warning">Vote</a>
            <a href="/page/calculate_votes" class="btn btn-success">Calculate Votes</a>
            <a href="/page/validate_vote" class="btn btn-info">Validate Vote</a>
            <a href="/page/get_public_key" class="btn btn-dark">Get Public Key</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>